body {
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #222;
	margin: 0;
	transition: background-color 0.5s, color 0.5s;
}

header {
	background-color: #222020;
	color: #fff;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

nav a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}
.subnav {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 0;
}

nav a:hover {
	background-color: #e79191;
}

section {
	padding: 1%;
}

h2 {
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.section-title {
	text-align: center;
}

.day {
	background-color: #fff;
	color: #222;
}

.night {
	background-color: #242121ee;
	color: #fff;
}

.name {
	font-size: 20px;
	font-weight: bold;
}

.image {
	max-width: 100px;
	border-radius: 50%;
}

.mode-switch {
	background-color: #f27474;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}

.mode-switch:hover {
	background-color: #ccc;
}
